body{
	background: black;
    color:wheat;
}

h1{
    font-size:4em;
	margin-top:100px;
	padding-top:100px;
	text-align:center;
	
}

h2{
	padding:0px;
	text-align:center;
}

h3{
	text-align:center;
	padding:50px;
}

.socialmedia{
text-align:center;
}
